.flexbox-center-center{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 10%;
}
.flex-cols{
    flex-direction: column;
}
body{
    margin: 0px;
}
.button-box{
    width: inherit;
    height: fit-content;
}
header, footer{
    background-color: aqua;
    margin: auto;
    border-bottom: 2px solid black;
    text-align: center;
    padding-top: 75px;
    padding-bottom: 75px;
}
footer{
    border-top: 2px solid black;
}
main{
    padding: 10px;
    background-color: aquamarine;
    text-align: center;
}
main h2{
    margin-top: 0px;
}
.demo-button{
    padding: 10px;
    border-radius: 10px;
    border: 2px dotted black;
    background-color:lightskyblue;
    font-weight: bold;
}
button:hover{
    cursor: pointer;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
table{
    gap: 0px;
}
.linear-gradient{
    background-image: linear-gradient(blue, lightskyblue ,blue);
    border: 2px solid black;
    margin-bottom: 40px;
}
.radial-gradient{
    background-image: radial-gradient(blue, lightskyblue ,blue);
    border: 2px solid black;
    margin-bottom: 40px;
}
.conic-gradient{
    background-image: conic-gradient(blue, lightskyblue ,blue);
    border: 2px solid black;
    margin-top: 40px;
    margin-bottom: 40px;
}
.padding-20{
    padding: 20px;
}
h4{
    text-decoration: underline;
}
.margin-b-40{
    margin-bottom: 40px;
}
#gen-text{
    border-top: 1px solid black;
}
label{
    margin-top: auto;
    margin-bottom: auto;
}